@media (min-width: 1000px) {
    .packagesCont {
        position: relative;
        width: 100%;
        height: auto;
        background-color: var(--tan);
        z-index: 1;
    }

    .navCont {
        position: relative;
        width: 100%;
        height: 100px;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navSpacer {
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        width: 100%;
        background-color: var(--green);
        z-index: -1;
    }

    .packagesInnerCont {
        position: relative;
        width: calc(100vw - 120px);
        height: auto;
        min-height: 110vh;
        background-color: var(--dark-tan);
        display: flex;
        flex-direction: column;
        margin: 60px;
        z-index: 1;
    }

    .packagesTitle {
        font-size: 42px;
        font-family: var(--title);
        color: var(--dark-green);
    }

    .packagesTitleCont {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .packagesTitleContMobile {
        display: none;
    }

    .packagesDescriptionCont {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .packagesDescription {
        font-size: 18px;
        font-family: var(--body);
        color: var(--dark-green);
        text-align: center;
        max-width: 700px;
    }

    .packagesPackagesCont {
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .packagesPackageItemEven {
        position: relative;
        width: 80%;
        height: auto;
        margin: 40px 0;
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .packagesPackageItemOdd {
        position: relative;
        width: 80%;
        height: auto;
        margin: 40px 0;
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        gap: 40px;
        direction: rtl;
    }

    .packagesPackageItemOdd>* {
        direction: ltr;
    }

    .packagesPackageImageCont {
        position: relative;
        width: 100%;
        height: calc(((100vw - 120px) * 0.8)/2);
    }

    .packagesPackageInfoCont {
        position: relative;
        width: calc(((100vw - 120px) * 0.8)/2);
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .packagesPackageTitleCont {
        position: relative;
        width: 100%;
        height: auto;
    }

    .packagesPackageTitle {
        font-size: 32px;
        font-family: var(--title);
        color: var(--dark-green);
        font-weight: 600;
    }

    .packagesPackageDescriptionCont {
        position: relative;
        width: 100%;
        height: auto;
    }

    .packagesPackageDescription {
        font-size: 18px;
        font-family: var(--body);
        color: var(--dark-green);
        line-height: 1.6;
    }

    .packagesPackagePriceCont {
        position: relative;
        width: calc(((100vw - 120px) * 0.8)/2);
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .packagesPackagePrice {
        font-size: 16px;
        font-family: var(--body);
        color: var(--dark-green);
    }

    .packagesPackagePriceDuration {
        font-size: 16px;
        font-family: var(--body);
        color: var(--dark-green);
    }

    .packagesPackagePriceBtn {
        position: relative;
        font-size: 16px;
        font-family: var(--body);
        background-color: var(--green);
        color: var(--dark-green);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 128px;
        height: 52px;
        z-index: 110;
    }

    .packagesPackagePriceBtn:hover {
        background-color: var(--dark-green);
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .portableTextP {
        font-size: 18px;
        font-family: var(--body);
        color: black;
        line-height: 1.6;
        margin: 12px 0;
    }
}

@media (max-width: 1000px) {
    .packagesCont {
        position: relative;
        width: 100%;
        height: auto;
        background-color: var(--tan);
        z-index: 1;
    }

    .navCont {
        position: relative;
        width: 100%;
        height: 100px;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navSpacer {
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        width: 100%;
        background-color: var(--green);
        z-index: -1;
    }

    .packagesInnerCont {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 110vh;
        background-color: var(--dark-tan);
        display: flex;
        flex-direction: column;
        margin: 0;
        z-index: 1;
    }

    .packagesTitle {
        font-size: 26px;
        font-family: var(--title);
        color: var(--dark-green);
    }

    .packagesTitleCont {
        display: none;
    }

    .packagesTitleContMobile {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .packagesDescriptionCont {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 56px;
    }

    .packagesDescription {
        font-size: 14px;
        font-family: var(--body);
        color: var(--dark-green);
        text-align: center;
        max-width: 700px;
    }

    .packagesPackagesCont {
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .packagesPackageItemEven {
        position: relative;
        width: 80vw;
        height: auto;
        margin: 40px 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        align-items: center;
        justify-content: center;
        gap: 40px;
        border: 1px solid var(--dark-green);
    }

    .packagesPackageItemOdd {
        position: relative;
        width: 80vw;
        height: auto;
        margin: 40px 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        align-items: center;
        justify-content: center;
        gap: 40px;
        border: 1px solid var(--dark-green);
    }

    .packagesPackageItemOdd>* {
        direction: ltr;
    }

    .packagesPackageImageCont {
        position: relative;
        width: calc(80vw - 2px);
        height: 80vw;
        margin-left: 1px;
    }

    .packagesPackageInfoCont {
        position: relative;
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .packagesPackageTitleCont {
        position: relative;
        width: 100%;
        height: auto;
    }

    .packagesPackageTitle {
        font-size: 20px;
        font-family: var(--title);
        color: var(--dark-green);
        font-weight: 600;
    }

    .packagesPackageDescriptionCont {
        position: relative;
        width: 100%;
        height: auto;
    }

    .packagesPackageDescription {
        font-size: 16px;
        font-family: var(--body);
        color: var(--dark-green);
        line-height: 1.6;
    }

    .packagesPackagePriceCont {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .packagesPackagePrice {
        font-size: 16px;
        font-family: var(--body);
        color: var(--dark-green);
    }

    .packagesPackagePriceDuration {
        font-size: 16px;
        font-family: var(--body);
        color: var(--dark-green);
    }

    .packagesPackagePriceBtn {
        position: relative;
        font-size: 14px;
        font-family: var(--body);
        background-color: var(--green);
        color: var(--dark-green);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100px;
        height: 52px;
        z-index: 110;
    }

    .packagesPackagePriceBtn:hover {
        background-color: var(--dark-green);
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .portableTextP {
        font-size: 14px;
        font-family: var(--body);
        color: black;
        line-height: 1.6;
        margin: 12px 0;
    }
}