@media (min-width: 1000px) {
.contactCont{
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--tan);
    z-index: 1;
}
.navCont{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navSpacer {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background-color: var(--green);
    z-index: -1;
  }
.contactInnerCont{
    position: relative;
   margin-top: 60px;
}
}
@media (max-width: 1000px) {
    .contactCont{
        position: relative;
        width: 100%;
        height: auto;
        background-color: var(--tan);
        z-index: 1;
    }
    .navCont{
        position: relative;
        width: 100%;
        height: 100px;
        background-color: var(--green);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navSpacer {
        position: absolute;
        top: 0;
        left: 0;
        height: 0px;
        width: 100%;
        background-color: var(--green);
        z-index: -1;
      }
    .contactInnerCont{
        position: relative;
       margin-top: 0px;
    }
}