.footerCont{
    position: relative;
    width: 100vw;
    height: 270px;
    background-color: var(--green);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;
    z-index: 100;
}
.footerBufferCont{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 400px;
    background-color: var(--green);
    z-index: -1;
}
.footerCont h1{
    max-width: 460px;
    font-size: 32px;
    font-family: var(--title);
    color: var(--dark-green);
    text-align: start;
}
.footerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.footerInfo p{
    font-size: 16px;
    font-family: var(--body);
    color: var(--dark-green);
}
.footerCopyright{
    max-width: 460px;
    font-size: 16px;
    font-family: var(--body);
    color: var(--dark-green);
    text-align: end;
}