.blogCont{
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--tan);
    z-index: 1;
}
.blogInnerCont{
    position: relative;
    width: calc(100vw - 120px);
    height: auto;
    background-color: var(--dark-tan);
    display: flex;
    flex-direction: column;
    margin: 60px;
    z-index: 1;
}
.blogInnerInnerCont{
    position: relative;
    width: calc(100vw - 240px);
    height: auto;
    background-color: var(--tan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 60px;
}
.blogTitleCont{
    position: absolute;
    top: calc( (155px/2)) ;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 120px - 240px - 120px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    text-align: center;
    font-size: 36px;
    font-family: var(--title);
    color: var(--dark-green);
    z-index: 150;
}
.blogTitle{
    font-size: 42px;
    font-family: var(--title);
    color: var(--dark-green);
}
.blogPostsCont{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}