.navCont{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    z-index: 2;
}
.linkCont{
    display: flex;
    gap: 30px;
    color: var(--dark-green);
    font-size: 15px;
    font-family: var(--body);
}
.navSpacer{
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background-color: var(--green);
    z-index: -1;
}
